.sliderContainer {
    display: flex;
    align-items: center;
    gap: 2em;
}

.buttonCurrency {
    padding: 1em;
    color: white;
    font-weight: bold;
    border-radius: 0.4em;
    color: #1976d2;
    border: 1px solid #1976d2;
}

.buttonCurrency:hover {
    color: white;
    background-color: #1976d2;
    cursor: pointer;
}

.buttonsCurrency {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.button {
    width: 6em;
}

.selected {
    color: white;
    background-color: #1976d2;
}

.container{
    margin-left: 1em;
}