.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom,
            #e7ebed 0%,
            rgba(168, 166, 166, 0.7) 100%);
    padding: 2.5em;
    margin-bottom: 2em;
    position: relative;
}

.image {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin-left: 5em;
    margin-bottom: 2.5em;
    object-fit: cover;
    cursor: pointer;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.important {
    font-weight: bold;
    color: rgb(141, 31, 31);
}

.button {
    margin-right: 1em;
}

.call {
    position: absolute;
    bottom: 0.8em;
    right: 0;
}

.callText {
    color: rgb(141, 31, 31);
    margin-right: 1em;
    font-size: 1.2em;
}

.phone {
    margin-left: 0.4em;
    font-size: 16px;
}

.callText:hover {
    color: white;
    cursor: pointer;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}

.heading:hover{
    cursor: pointer;
    color: white;
}

