.card {
    width: 33%
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.textCenter {
    text-align: center;
}

.button {
    width: 30%;
    margin-bottom: 1.2em;
}

.img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}