.comment {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.header {
    font-size: 1rem;
    margin-bottom: 8px;
}

.username {
    font-weight: bold;
    color: #007bff;
}

.content {
    font-size: 1rem;
    color: #555;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.pickedUp {
    color: green;
    font-size: 0.7em;
    text-align: end;
    margin-right: 1em;
}

.didntAnswer {
    color: red;
    font-size: 0.7em;
    text-align: end;
    margin-right: 1em;
}

.wrongNumber {
    color: purple;
    font-size: 0.7em;
    text-align: end;
    margin-right: 1em;
}

.uncalled {
    color: gray;
    font-size: 0.7em;
    text-align: end;
    margin-right: 1em;
}