.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.carouselContainer {
    width: 80%;
}

.img {
    height: 60vh;
}

.landscape  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portrait{
    height: 100%;
    object-fit: contain;
}

.showStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -10px;
    left: 9%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 10px;
    width: 82%;
}

.centerArrows {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.arrow {
    cursor: pointer;
    padding: 5px;
}

.bigger {
    font-size: 0.8em;
    cursor: pointer;
    margin-left: auto;
    color: #c6cbd2;
    margin-left: 0.5em;
}

.biggerText {
    color: #c6cbd2;
}

.biggerText:hover .magnifyingGlas {
    color: white;
}

.biggerText:hover .bigger {
    color: white;
    text-decoration: underline;
}