.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    background-color: rgb(231, 235, 237);
    display: flex;
    padding: 1.5em;
    flex-direction: column;
}

.captionDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.importantRed {
    color: rgb(141, 31, 31);
    font-size: 1.3em;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}