.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
}

.loginBox {
    background-color: #fff;
    padding: 4em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 32%;
    text-align: center;
}

.title {
    margin-bottom: 0.8em;  
    font-size: 3em;  
}

.inputGroup {
    margin-bottom: 15px;
    text-align: left;
}

.input {
    width: 100%;
    padding: 15px;             
    margin: 10px 0;         
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; 
}

.button {
    width: 50%;
    padding: 15px;             
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;  
}

.button:hover {
    background-color: #0056b3;
}